fastapi
uvicorn[standard]
websockets
redis
asyncpg
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
sqlalchemy
pydantic-settings
httpx
pytest
pytest-asyncio
python-multipart
